export GITHUB_DEPLOY_KEY_PUBLIC="keys/deploy_key.pub"
export GITHUB_DEPLOY_KEY_PRIVATE="keys/deploy_key"
export GITHUB_DEPLOY_KEY_PASSWORD="foobar"
export GITHUB_REPO="aq1018/cloud-init-test"
export GITHUB_REPO_BRANCH="master"
export TEMP_DIR="./tmp"